<div class="container mx-auto px-4 py-8">
  <h2 class="text-xl font-semibold text-gray-900 mb-6">Detalhes da Avaliação do Colaborador</h2>

  <!-- Verifica se a avaliação é autoavaliação ou do líder -->
  <div *ngIf="evaluation">
      <!-- Se for autoavaliação -->
      <div *ngIf="evaluation.evaluatorId === evaluation.employeeId">
          <h3 class="text-lg font-semibold text-gray-700 mb-4">Autoavaliação</h3>
          <div class="bg-white shadow rounded-lg p-4 mb-4">
              <p class="text-md font-semibold text-gray-600">Período: {{ evaluation.dateReference }}</p>
              <p class="text-sm text-gray-500">Concluído em: {{ evaluation.completedAt | date: 'dd/MM/yyyy HH:mm' }}</p>
              
              <div class="mt-2">
                  <h4 class="font-semibold text-gray-600">Médias por Tópico:</h4>
                  <ul class="list-disc ml-5">
                      <li *ngFor="let topic of evaluation.topicAverages">
                          {{ topic.topic }}: {{ topic.average }}
                      </li>
                  </ul>
              </div>
          </div>
      </div>

      <!-- Se for avaliação feita pelo líder -->
      <div *ngIf="evaluation.evaluatorId !== evaluation.employeeId">
          <h3 class="text-lg font-semibold text-gray-700 mb-4">Avaliação Realizada pelo Líder</h3>
          <div class="bg-white shadow rounded-lg p-4 mb-4">
              <p class="text-md font-semibold text-gray-600">Período: {{ evaluation.dateReference }}</p>
              <p class="text-sm text-gray-500">Concluído em: {{ evaluation.completedAt | date: 'dd/MM/yyyy HH:mm' }}</p>
              
              <div class="mt-2">
                  <h4 class="font-semibold text-gray-600">Médias por Tópico:</h4>
                  <ul class="list-disc ml-5">
                      <li *ngFor="let topic of evaluation.topicAverages">
                          {{ topic.topic }}: {{ topic.average }}
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
