<div class="container mx-auto p-4">
  <button class="px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-300 mb-3 font-mono" (click)="rollbackPage()">Voltar</button>
  <p class="text-2xl font-semibold text-gray-700 mb-4">Departamento: {{ departmentName }}</p>
  <table mat-table [dataSource]="users" class="mat-elevation-z8 w-full bg-white border border-gray-200 rounded-lg shadow-lg">

    <!-- Coluna Nome -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-100 text-left p-3 font-semibold text-gray-700"> Nome </th>
      <td mat-cell *matCellDef="let user" class="p-3 border-t border-gray-200 text-gray-600"> {{ user.fullName }} </td>
    </ng-container>

    <!-- Coluna Cargo -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-100 text-left p-3 font-semibold text-gray-700"> Nível no sistema </th>
      <td mat-cell *matCellDef="let user" class="p-3 border-t border-gray-200 text-gray-600"> {{ user.role }} </td>
    </ng-container>

    <!-- Coluna Tipo de MO -->
    <ng-container matColumnDef="typeMo">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-100 text-left p-3 font-semibold text-gray-700"> Tipo MO </th>
      <td mat-cell *matCellDef="let user" class="p-3 border-t border-gray-200 text-gray-600"> {{ user.typeMo }} </td>
    </ng-container>

    <!-- Coluna Código do Funcionário -->
    <ng-container matColumnDef="codFuncionario">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-100 text-left p-3 font-semibold text-gray-700"> Código Funcionário </th>
      <td mat-cell *matCellDef="let user" class="p-3 border-t border-gray-200 text-gray-600"> {{ user.codFuncionario }} </td>
    </ng-container>

    <!-- Coluna de Ações -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-100 text-left p-3 font-semibold text-gray-700"> Ações </th>
      <td mat-cell *matCellDef="let user" class="p-3 border-t border-gray-200 text-gray-600">
        <div class="flex gap-2">
          <button
            *ngIf="isRh"
            class="flex items-center gap-1 px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-300"
            (click)="editUser(user.id)"
          >
            ✏️ <span>Editar</span>
          </button>
          <button
          *ngIf="isRh"
            class="flex items-center gap-1 px-3 py-1 bg-red-500 text-white rounded hover:bg-red-600 active:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-300"
            (click)="deleteUser(user.id)"
          >
            🗑️ <span>Excluir</span>
          </button>
          <button
          *ngIf="isLeader"
          class="flex items-center gap-1 px-3 py-1 bg-green-500 text-white rounded hover:bg-green-600 active:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-300"
          (click)="goToUserEvaluation(user.id)"
        >
          📝 <span>Avaliar</span>
        </button>
        <button
          *ngIf="isGestor"
          class="flex items-center gap-1 px-3 py-1 bg-green-500 text-white rounded hover:bg-green-600 active:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-300"
          (click)="goToLeaderEvaluation(user.id)"
        >
          📝 <span>Avaliar</span>
        </button>
        </div>
      </td>
    </ng-container>

    <!-- <ng-container *ngIf="isLeader" matColumnDef="evaluation">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-100 text-left p-3 font-semibold text-gray-700"> Avaliação </th>
      <td mat-cell *matCellDef="let user" class="p-3 border-t border-gray-200 text-gray-600">
        <div *ngIf="!user.isEvaluated; else evaluated">
          <button
            class="px-3 py-1 bg-green-500 text-white rounded hover:bg-green-600 active:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-300"
            (click)="evaluateUser(user.id)"
          >
            Avaliar
          </button>
        </div>
        <ng-template #evaluated>
          <p>Avaliado em: {{ user.evaluationDate | date:'dd/MM/yyyy' }}</p>
        </ng-template>
      </td>
    </ng-container> -->

    <!-- Linha de Cabeçalho -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="text-left"></tr>
    <!-- Linhas de Dados -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-50"></tr>
  </table>
</div>
